<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Username:</span>
    </div>
    <input
      name="username"
      type="text"
      class="form-control"
      aria-describedby="username"
      ngModel
      #usernameInput="ngModel"
      required
      minlength="2"
      maxlength="20"
    />
  </div>
  <div
    *ngIf="
      usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)
    "
    class="alert alert-danger"
  >
    <div *ngIf="usernameInput.errors.required">
      Name is required.
    </div>
    <div *ngIf="usernameInput.errors.minlength">
      Name must be at least 2 characters long.
    </div>
    <div *ngIf="usernameInput.errors.maxlength">
      Name must not be more than 20 characters long.
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="fileInputAddon">File:</span>
    </div>
    <div class="custom-file">
      <input
        id="fileInput"
        type="file"
        class="form-control"
        name="file"
        (change)="onFileSelect($event)"
        aria-describedby="fileInputAddon"
        ngModel
        #fileInput="ngModel"
        required
      />
      <label class="custom-file-label overflow-hidden" for="fileInput">{{
        fileInput.value
      }}</label>
    </div>
  </div>

  <div class="alert alert-warning">
    Attention: our server supports only
    {{ extensions.join(", ") }} files
  </div>

  <div
    *ngIf="fileInput.invalid && (fileInput.dirty || fileInput.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="fileInput.errors.required">
      File is required.
    </div>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="!f.valid">
    Upload
  </button>

  <div
    *ngIf="uploadStatus == UploadStatuses.InProccess"
    class="alert alert-warning mt-2"
  >
    Uploading...
  </div>

  <div
    *ngIf="uploadStatus == UploadStatuses.Error"
    class="alert alert-danger mt-2"
  >
    {{ errorMessage }}
  </div>
  <div
    *ngIf="uploadStatus == UploadStatuses.Done"
    class="alert alert-success mt-2"
  >
    Your file was successfully uploaded!
  </div>
</form>
